{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    {% if df.columns|length < 1 %}
    <h1 style="text-align: center;">No Data Present/h1>
    {% else %}
    <table>
        <thead>
            <tr>
                <!-- table headers -->
                <th></th>
                {% for header in df.columns %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- add each row -->
            {% for index, row in df.iterrows() %}
                <!-- even and odd colors -->
                <tr
                    {% if loop.index is even %}
                        class="even"
                    {% else %}
                        class="odd"
                    {% endif %}
                    >
                    <!-- add index -->
                    <td>{{index}}</td>

                    <!-- add each column in each row -->
                    {% for col in df.columns %}
                        <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}